<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/label_derivation/src/label_derivation/ReadProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="label_derivation.ReadProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/sandip/Dropbox/github/labels&#10;/home/sandip/Dropbox/github/test.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="label_derivation"/>
</launchConfiguration>
